<div class="container" style="max-width: 1140px;">
  <div class="row justify-content-center py-5">
    <div class="col-12 my-5 py-5">
      <h1 class="text-center display-lg-4">What people are saying</h1>
      <p class="text-lg-nice text-center">Panelbear is trusted by individuals and companies of all sizes</p>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear gives me just the right amount of data I need to monitor the growth of my site, without the added bloat and opt-ins required for other analytics services.</p>
        <p class="m-0">
          <a href="https://www.favoursthebrave.com" rel="noopener" class="text-dark font-weight-bold">Favours the Brave</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>I love using Panelbear analytics. Getting the weekly report delivered straight to my inbox makes Monday mornings something to look forward to!</p>
        <p class="m-0">
          <a href="https://madebyproxy.com/" rel="noopener" class="text-dark font-weight-bold">Proxy Web Design</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>I've been using Panelbear for the last year, not only do I recommend it to some of our clients, but personally find it a lot more intuitive than the mainstream tools out there, it's perfect for our needs.</p>
        <p class="m-0">
          <a href="https://www.lift.agency" rel="noopener" class="text-dark font-weight-bold">LIFT Agency</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear provides us with a modern and privacy-friendly analytics platform. New features are added every month and their support has always been very responsive.</p>
        <p class="m-0">
          <a href="https://noisycamp.com" rel="noopener" class="text-dark font-weight-bold">NoisyCamp</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>My personal website's highest priority was speed and being low weight, and other analytics tools have always added a significant amount of weight. When I stumbled upon Panelbear, the analytics script went from 37kB to a measly 3.6kB.</p>
        <p class="m-0">
          <a href="https://kaisermann.me" rel="noopener" class="text-dark font-weight-bold">Christian Kaisermann</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>We have found that Google Analytics has become a little overkill for our modest requirements and was delighted to come across Panelbear. It has an easy-to-use, simple interface with all the features we need. Panelbear is a fantastic analytics tool, and we will be recommending it to all of our clients.</p>
        <p class="m-0">
          <a href="https://www.suspiremedia.co.uk" rel="noopener" class="text-dark font-weight-bold">Suspire Media</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>I've ended up using Panelbear for all of my sites, and really appreciate the simplicity as well as ensuring the privacy of visitors by avoiding cookies.</p>
        <p class="m-0">
          <span class="text-dark font-weight-bold">Kevin Nørby Andersen</span>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear is easy to set up, respects the privacy of the users and doesn't requires cookies. It is everything I was looking for.</p>
        <p class="m-0">
          <a href="https://davidelettieri.it" rel="noopener" class="text-dark font-weight-bold">Davide Lettieri</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear is the simplest and cleanest web traffic tool I've used so far. Much better than Google Analytics for my simple needs.</p>
        <p class="m-0">
          <a href="https://getdjangosaas.com/" rel="noopener" class="text-dark font-weight-bold">Get Django Saas</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear is the best analytics tool I’ve found so far. The minimalist dashboard is easy to read. I use it everyday.</p>
        <p class="m-0">
          <a href="https://www.houellebecq.xyz" rel="noopener" class="text-dark font-weight-bold">Les Archives de Houellebecq</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear is a fantastic analytics product. No cluttering. Presents you with the data you need in a clear interface.</p>
        <p class="m-0">
          <a href="https://nilgirifresh.com" rel="noopener" class="text-dark font-weight-bold">Nilgiri Fresh</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>I wanted a tool that is as simple as possible and to have a privacy focus. Panelbear came out to be a perfect fit for my needs.</p>
        <p class="m-0">
          <a href="https://albertodeago.github.io/vue-diagonal/" rel="noopener" class="text-dark font-weight-bold">Alberto De Agostini</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear was easy to add to my website and offers just the right amount of analytics I need.</p>
        <p class="m-0">
          <a href="https://appforce1.net/" rel="noopener" class="text-dark font-weight-bold">AppForce1</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear is super easy to set up, and has a free tier to get started. It provides me useful insight for a solo SaaS project.</p>
        <p class="m-0">
          <a href="https://nuwalinks.cloud" rel="noopener" class="text-dark font-weight-bold">Nuwa Links</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>After testing other popular alternatives, I found Panelbear which fits my needs. It's easy to use and quick to configure. I am very happy with this product.</p>
        <p class="m-0">
          <a href="https://oastic.com" rel="noopener" class="text-dark font-weight-bold">oastic.com</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>I love the simplicity of Panelbear. In general it is all you need if you are a small company, to see what is happening on your website.</p>
        <p class="m-0">
          <a href="https://andesnativa.com" rel="noopener" class="text-dark font-weight-bold">AndesNativa</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear is by far the best frontend monitoring tool out there because it combines all important tracking types for my startup. Not only do I get traffic insights the performance monitoring and especially the alerts let me sleep peacefully without hassle because everything's in one tool.</p>
        <p class="m-0">
          <a href="https://tuxamoon.de" rel="noopener" class="text-dark font-weight-bold">Hermann Paar</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>We have tried them all. Finally! Panelbear provides us with website traffic and analytics we find useful and our clients can actually understand.</p>
        <p class="m-0">
          <a href="https://pixelsum.com" rel="noopener" class="text-dark font-weight-bold">Pixelsum</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex mb-4">
      <div class="card p-4 justify-content-between align-items-start shadow text-dark">
        <p>Panelbear allows us to keep track of our website traffic without tracking cookies. It gives us all crucial information in an easy way, and with zero training required.</p>
        <p class="m-0">
          <a href="https://yasido.com/" rel="noopener" class="text-dark font-weight-bold">Yasido</a>
        </p>
      </div>
    </div>
    <div class="col-12 my-3">
      <p class="text-center ">Want to share your thoughts with us?
        <a href="support@example.com">Say hi 👋</a>
      </p>
    </div>
  </div>
  <partial src="./bottom_cta.html"></partial>  
  
</div>
