// See https://getbootstrap.com/docs/5.1/utilities/api/
$utilities: (

  "border-color-grayscale": (
    property: border-color,
    class: 'border-color',
    values: (
      100: $gray-100,
      200: $gray-200,
      300: $gray-300,
      400: $gray-400,
      500: $gray-500,
      600: $gray-600,
      700: $gray-700,
      800: $gray-800,
      900: $gray-900,
    )
  ),
  "rounded": (
    property: border-radius,
    class: rounded,
    values: (
      null: $border-radius,
      0: 0,
      1: $border-radius-sm,
      2: $border-radius,
      3: $border-radius-lg,
      4: $border-radius*2,
      5: $border-radius*4,
      circle: 50%,
      pill: $border-radius-pill
    )
  ),
  "hover-text-decoration": (
    property: 'text-decoration',
    class: 'text-decoration',
    state: hover,
    values: (
      'none': 'none',
      'underline': 'underline',
    )
  ),

  // will underline text
  "highlight": (
    class: "highlight",
    property: "background",
    values: (
      "hero": linear-gradient(360deg, #b7edfa 24%, transparent 0),
    )
  ),

  "fontweight": (
    class: "fw",
    property: "font-weight",
    values: (
      300: 300,
      400: 400,
      500: 500,
      600: 600,
      700: 700,
      800: 800,
      900: 900,
    )
  ),

  "gray": (
    class: "gray",
    property: "color",
    values: (
      100: $gray-100,
      200: $gray-200,
      300: $gray-300,
      400: $gray-400,
      500: $gray-500,
      600: $gray-600,
      700: $gray-700,
      800: $gray-800,
      900: $gray-900,
    )
  ),

  "base-font-size": (
    class: "fs",
    property: "font-size",
    values: (
      'small': $small-font-size,
      'lead': $lead-font-size,
      'base09': $font-size-base * 0.9,
      'base08': $font-size-base * 0.8,
      'base07': $font-size-base * 0.7,
      'base06': $font-size-base * 0.6,
      'base05': $font-size-base * 0.5,
      'base04': $font-size-base * 0.4,
      'base03': $font-size-base * 0.3,
      'base02': $font-size-base * 0.2,
      'base01': $font-size-base * 0.1,
      'base1p125': $font-size-base * 1.125,
      'base1p1': $font-size-base * 1.1,
      'base1p2': $font-size-base * 1.2,
    )
  ),

  "max-width-pixel": (
    class: "mwp",
    property: "max-width",
    values: (
      100: '100px',
      150: '150px',
      200: '200px',
      250: '250px',
      300: '300px',
      350: '350px',
      400: '400px',
    )
  ),

);
