<div id="bottom-cta" style="min-height:40vh" class="flex-center py-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-md-auto text-center">
        <img width="100%" height="auto" src="" loading="lazy" alt="">
      </div>
      <div class="col-12 col-lg-8 mx-md-auto text-center mb-4">
        <h2 class="display-5 fw-800">Ready to try Bootiful ?</h2>
        <p class="mb-0 mx-auto lead" style="max-width:680px">Free forever - and opened to contributions.</p>
      </div>
      <div class="col-12 col-md-10 col-lg-8 mx-md-auto text-center">
        <div class="d-flex justify-content-center align-items-start align-items-md-center flex-column flex-md-row mx-md-auto">
          <a class="btn btn-dark text-white btn-lg flex-center mx-md-2 mb-2 w-100 mx-auto" href="https://github.com/bdavidxyz/bootiful" style="max-width:400px">Start on Github
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="28" height="28" fill="currentColor" class="ml-1"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
