<header class="container pt-5 pb-3 flex-center flex-column">
  <div class="toast position-absolute align-items-center text-white bg-danger border-0" 
      role="alert" 
      aria-live="assertive" 
      aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        ⚠ There were error on form
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div> 
  <a class="navbar-brand me-3" href="/">
    <svg width="160px" height="60px" viewBox="0 0 272 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="rubyshape" transform="translate(1.000000, -7.000000)" fill="#000000"> <text id="Bootiful" font-family="Jost-SemiBold, Jost" font-size="48" font-weight="500" line-spacing="69" letter-spacing="1.80000007">
            <tspan x="94" y="51">Bootiful</tspan>
          </text>
          <polygon id="railslike" stroke="#000000" fill-rule="nonzero" transform="translate(29.000000, 34.500000) rotate(-180.000000) translate(-29.000000, -34.500000) " points="29 8 58 44.9857295 46.9229857 61 11.0770143 61 0 44.9857295"></polygon>
        </g>
      </g>
    </svg>
  </a>
</header>
