<header class="container" style="max-width: 1140px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <a class="navbar-brand me-3" href="/"> <svg width="120px" height="60px" viewBox="0 0 272 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="rubyshape" transform="translate(1.000000, -7.000000)" fill="#000000"> <text id="Bootiful" font-family="Jost-SemiBold, Jost" font-size="48" font-weight="500" line-spacing="69" letter-spacing="1.80000007"> <tspan x="94" y="51">Bootiful</tspan> </text> <polygon id="railslike" stroke="#000000" fill-rule="nonzero" transform="translate(29.000000, 34.500000) rotate(-180.000000) translate(-29.000000, -34.500000) " points="29 8 58 44.9857295 46.9229857 61 11.0770143 61 0 44.9857295"></polygon> </g> </g> </svg> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#actualNavbar" aria-controls="actualNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="actualNavbar">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link fw-500" aria-current="page" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-500" aria-current="page" href="/demo">Demo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-500" aria-current="page" href="/about">About</a>
            </li>
          </ul>
          <div class="ms-auto navbar-nav">
            <a href="/login" class="nav-link fw-500 me-3">Sign in</a>
            <a class="btn btn-dark text-white fw-500" href="https://github.com/bdavidxyz/bootiful">
              Start on Github
            </a>
          </div>
        </div>
    </nav>
</header>
