{% macro article(title) %}
  <article>
      <header>{{title}}</header>
      <p>article body</p>
      <footer></footer>
  </article>
{% endmacro %}

{% macro article_header(title, date, minread) %}
  <div class="mb-5 text-left">
    <h1 class="display-4 mb-3" style="word-break: break-word;">{{title}}</h1>
    <div class="ml-1">
      <p class="m-0 text-sm">
        <span>{{date}}</span>
        <span class="mx-1">·</span>
        <span>{{minread}} min read</span>
      </p>
    </div>
  </div>
{% endmacro %}
